@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  text-align: center;
  background: #f4f4f4;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.gradient-text {
  background: linear-gradient(90deg, #92318d, #f26a3d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-border {
  border: 2px solid; /* Adjust the border width as needed */
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #92318d, #f26a3d);
}

.gradient-border-dotted-rounded {
  border: 4px dotted; /* Adjust the border width and style as needed */
  border-radius: 0.5rem; /* Adjust the border radius as needed */
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #92318d, #f26a3d);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
